$white: #fff;
$light-gray: #e0e0e0;
$gray: #9e9e9e;
$dark-gray: #616161;

$light-red: #ffebee;
$red: #e53935;
$dark-red: #c62828;

$light-yellow: #fff8e1;
$yellow: #ffc107;
$dark-yellow: #ffa000;

$light-green: #e8f5e9;
$green: #4caf50;
$dark-green: #388e3c;

$background-blue: #f5f9fc;
$light-blue: #e3f2fd;
$blue: #1e88e5;
$dark-blue: #09669a;
