@import "~angular-text-input-highlight/text-input-highlight.css";

.input-wrapper {
  width: 80%;
}

.input-full-width {
  width: 100%;
}

.button-wrapper {
  margin-bottom: 16px;
  display: table-cell;
}

.bg-blue {
  background-color: lightblue;
}