@import "~angular-text-input-highlight/text-input-highlight.css";

.input-wrapper {
  width: 80%;
}

.input-full-width {
  width: 100%;
}

.input-half-width {
  width: 50%;
}

.input-and-button-wrapper {
  display: flex;
  align-items: center;
  justify-content:space-between;

  button {
    margin-left: 16px;
  }
}


.button-wrapper {
  margin-bottom: 16px;
  display: table-cell;
}

.bg-blue {
  background-color: lightblue;
}