<h2>Resume Assistant</h2>

<div class="input-wrapper">
  <div class="input-and-button-wrapper">
    <mat-form-field matLine class="input-full-width">
      <input matInput [(ngModel)]="jobPostingId">
    </mat-form-field>
    <button mat-raised-button color=primary (click)="loadJobPosting()">Load</button>
  </div>
  
  <mat-form-field matLine class="input-full-width">
    <div mwlTextInputHighlightContainer>
      <textarea matInput rows="30"
                placeholder="Paste job posting here"
                mwlTextInputElement
                [(ngModel)]="jobPosting"
                #textarea>
      </textarea>
      <mwl-text-input-highlight
        [tags]="tags$|async"
        [textInputElement]="textarea">
      </mwl-text-input-highlight>
    </div>
  </mat-form-field>
</div>
<div class="button-wrapper">
  <button mat-raised-button color=primary (click)="analyseJobPosting()">Mark Skills</button>
  <button mat-raised-button color=basic (click)="clear()">Clear</button>
</div>
