@import '../colors.scss';

.sidenav-menu {
  min-width: 200px;
  background-color: $white;
}

.title-section {
  background: $white;
  margin: auto;
  padding: 0 10px;
}

.nav-items {
  background: $light-gray;
  margin: 100px 0;
}

.content-wrapper {
  height: calc(100vh - 40px);
  width: 100%;
}
