
.sidenav-menu {
  min-width: 200px;
}

.title-section {
  margin: auto;
  padding: 0 10px;
}

.nav-items {
  margin: 100px 0;
}

.content-wrapper {
  margin-left: 12px;
  height: calc(100vh - 40px);
  width: 100%;
}
